article {
  display: flex;
  justify-content: space-between;
  min-width: 17.25rem;
  color: white;
  margin: 0.1rem;
  background-color: green;
}

article > div {
  padding: 0.5rem;
}

article > div:nth-child(1) {
  flex-grow: 1;
}

article > div:nth-child(2) {
  width: 4rem;
  background-color: #f17d80;
  text-align: center;
}
