article {
  display: flex;
  justify-content: space-between;
  width: 600px;
  color: white;
  margin: 0.1rem;

  /* background-color: green; */
}

article > div {
  padding: 0.5rem;
}

article > div:nth-child(1) {
  flex-grow: 1;
}

article > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 4rem;
  background-color: #f1a3a5;
  min-width: 400px;
  text-align: center;
}

.Leaf {
  display: flex;
  padding: 10px;
}

.Trash {
  cursor: pointer;
  background: lightblue;
}
