label {
  display: flex;
  align-items: center;
}

label span {
  color: #737495;
  width: 4.5rem;
  padding: 10px;
}

input {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem;
  color: #f17d80;
  border: 2px solid #737495;
  border-radius: 0;
  margin: 0 10px;
}

button {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

  padding: 0.4rem;
  background-color: #f17d80;
  color: white;
  border: none;
  outline: none;
}

button:hover {
  color: white;
  background-color: #737495;
}

.days {
  width: 70px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCntr {
  background: blue;
  position: relative;
  width: 100vw;
  border-radius: 50%;
}

.add {
  position: absolute;
  top: 20px;
  right: 20px;
}
