.showCntr {
  position: relative;
  width: 600px;
}

.Show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Show > * {
  padding: 30px;
}

.Trash {
  cursor: pointer;
  background: rgb(235, 124, 124);
  padding: 10px 50px;
  color: white;
  position: absolute;
  top: 850px;
}

.Trash:hover {
  background: rgb(214, 96, 96);
}

.leaf0 {
  width: 80px;
  height: 50px;
  color: white;
  border-radius: 50%;
  font-size: 0px;

  transform: rotate(15deg) translateX(23px) translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 35px 0px 35px 0px;
  /* box-shadow: 0 0 0 0.2em darkgreen inset; */
  /* z-index: 0; */
  top: 1em;
  left: 0.5em;
  margin-top: -20px;
  transition: ease-out 0.2s;
  animation: grow 2s ease-in 1;
}

.leaf0:hover {
  background: #00000075;
  cursor: pointer;
  height: 52px;
  width: 82px;
  font-size: 15px;
}

.leaf1 {
  width: 80px;
  height: 50px;
  color: white;
  font-size: 0px;
  /* border-radius: 50%; */

  transform: rotate(30deg) translateX(-78px) translateY(39px);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 35px 0px 35px 0px;
  /* box-shadow: 0 0 0 0.2em darkgreen inset; */
  /* z-index: 0; */
  top: 1em;
  left: 0.5em;
  transition: ease-out 0.2s;
  animation: grow 2s ease-in 1;
}

.leaf1:hover {
  background: #00000075;
  height: 52px;
  width: 82px;
  cursor: pointer;
  font-size: 15px;
}

.photo {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes leafGrow {
  0% {
    opacity: 0;
  }

  100% {
  }
}
