.Show {
  background: #add8e6;
}

.Show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Show > * {
  padding: 30px;
}

.Trash {
  cursor: pointer;
  background: yellow;
  padding: 10px;
  margin: 20px;
}

.leaf0 {
  width: 80px;
  height: 50px;

  border-radius: 50%;

  transform: rotate(15deg) translateX(23px) translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2em 0em 2em 0em;
  /* box-shadow: 0 0 0 0.2em darkgreen inset; */
  /* z-index: 0; */
  top: 1em;
  left: 0.5em;
  margin-top: -20px;
}

.leaf0:hover {
  background: #00000075;
  cursor: pointer;
  height: 52px;
  width: 82px;
}

.leaf1 {
  width: 80px;
  height: 50px;
  /* border-radius: 50%; */

  transform: rotate(30deg) translateX(-78px) translateY(39px);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2em 0em 2em 0em;
  /* box-shadow: 0 0 0 0.2em darkgreen inset; */
  /* z-index: 0; */
  top: 1em;
  left: 0.5em;
}

.leaf1:hover {
  background: #00000075;
  height: 52px;
  width: 82px;
  cursor: pointer;
}

.photo {
  width: 100vw;
  border-radius: 40%;
  border-color: red;
}
