/* .addCntr {
  background: blue;
  width: 100px;
} */

.Show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Show > * {
  padding: 30px;
}

.Trash {
  cursor: pointer;
  background: yellow;
  padding: 10px;
}

.leaf0 {
  width: 80px;
  height: 20px;

  border-radius: 50%;

  transform: rotate(-30deg) translateX(-9px) translateY(30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf0:hover {
  background: #00000075;
  cursor: pointer;
  height: 22px;
  width: 82px;
}

.leaf1 {
  width: 80px;
  height: 20px;
  border-radius: 50%;

  transform: rotate(30deg) translateX(-69px) translateY(30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf1:hover {
  background: #00000075;
  height: 22px;
  width: 82px;
  cursor: pointer;
}
