.message {
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100vh;
  font-weight: 700;
}

.message span:hover {
  font-size: 50px;
  color: rgb(91, 158, 91);
  cursor: pointer;
}
