@font-face {
  font-family: "CODELight";
  src: local("CODELight"), url(./font/CODELight.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Raleway";
  background: rgb(235, 237, 200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
